/* COMMON */

/* BOOTSTRAP GRID */
@media (min-width: 992px) {
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
}

/* NAVBAR */
nav {
  display: block;
}
.navbar-inverse {
  background-color: #1d809f;
}
.navbar {
  position: relative;
  min-height: 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-fixed-top {
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
  /* border: 0; */
  /* border-width: 0 0 1px; */
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-inverse .navbar-brand {
  color: #fff;
}
/* a.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
} */

/* SIDEBAR */
.sidebar {
  display: none;
}
.sidebar li:nth-child(1) {
  background-color: #e0e7e9;
  padding: 15px;
}
.sidebar li:nth-child(n + 2) {
  border-bottom: 1px solid rgba(30, 122, 151, 78%);
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #1d809f;
  color: #fff;
}
.form-control {
  border: 2px solid #1d809f;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 4px solid #1d809f;
  }
}

ul {
  display: block;
  margin-top: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

::-webkit-scrollbar {
  display: none;
}

/* MAIN */
#main {
  margin-top: 50px;
  padding: 20px;
}
@media (min-width: 768px) {
  #main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.page-header {
  margin: 20px 0;
  /* margin-bottom: 20px; */
}
.photo {
  width: 300px;
  margin-bottom: 40px;
}
.pair {
  margin-bottom: 40px;
}
.chip-bar {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 35px;
  /* font-size: 16px; */
  line-height: 35px;
  border-radius: 25px;
  background-color: #1d809f;
  color: #fff;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* MAP */
#map {
  height: 100vh;
  padding-top: 50px;
  padding: 0;
}

#map .outer-item {
  border-radius: 10px;
}

#map .item-info {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  /* font-size: 14px; */
}

#map .map-info {
  text-align: center;
  width: 100px;
}
