/* COMMON */
body {
  font-family: "Source Sans Pro";
}
body,
html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* BOOTSTRAP GRID */
.mb-5 {
  margin-bottom: 4rem !important;
}

/* BUTTON */
.btn {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.btn + .btn {
  margin-left: 30px;
}
.btn-xl {
  padding: 1.5rem 2.8rem;
}
.btn-primary {
  background-color: #1d809f !important;
  border-color: #1d809f !important;
  color: #fff !important;
}
.btn-primary:active,
/* .btn-primary:focus, */
.btn-primary:hover {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}
/* .btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
} */

/* TEXT */
/* .text-primary {
  color: #1d809f !important;
} */
.text-secondary {
  color: #ecb807 !important;
}

/* BG */
.bg-primary {
  background-color: #1d809f !important;
}

/* INDEX PAGE */
.masthead {
  min-height: 30rem;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 8rem;
  }
  .masthead h3 {
    font-size: 2.8rem;
  }
}

/* SERVICE PAGE */
.service-section {
  height: 100vh;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-heading h2 {
  font-size: 5rem;
}
.service-heading h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.service-icon {
  background-color: #fff;
  color: #1d809f;
  border: none;
  height: 11rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.rounded-circle {
  border-radius: 50% !important;
}

@media (max-width: 991px) {
  .service-section {
    height: auto;
  }
}
